
.pupils{
  width: 700px;
}

/*parallax*/
.parallax {
  background-attachment: fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  overflow: hidden;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 767px) {
  .parallax {
    -webkit-background-size: auto auto !important;
    -moz-background-size: auto auto !important;
    -o-background-size: auto auto !important;
    background-size: auto auto !important;
  }
}
.parallax:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.parallax.light_section:after {
  background-color: #ffffff;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=92)";
  filter: alpha(opacity=92);
  opacity: 0.52;
}

.parallax.grey_section:after {
  background-color: #fafafa;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.parallax.color_section:after {
  background-color: #16a4d6;
  background-image: url(../img/background_section.png);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.parallax.dark_section:after {
  background-color: #372d3b;
  background-image: url(../img/background_section_dark.png);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
  opacity: 0.95;
}

.parallax.darkgrey_section:after {
  background-color: #404040;
  background-image: url(../img/background_section.png);
}

.parallax > .container, .gradient > .container {
  z-index: 3;
  position: relative;
}

.dark_section {
  background-color: #372d3b;
  color: #b0b0b0;
}

#pupils{
  background-image: url(pics/images/parallax/parallax1.jpg);
}

#bible2{
	background-image: url(../images/parallax/11.jpg);
}
#map{
	background-image: url(../images/parallax/map.jpg);
}

/*END PARALLAX**/
